@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper{
    min-width: 675px;
    background-color: #fff;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.joinUs, .subscription, .whyUs{
    padding: 35px;
}
.subscription{
    background-color: hsl(179, 62%, 43%);
    color: #fff;
}
.whyUs{
    background-color: hsl(179, 61%, 47%);
    color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row > div{
    flex: 1;
}
li{
    list-style: none;
    
}
ul{
    padding: 0;
}
h1{
    color: hsl(179, 62%, 43%);
}
.joinUs h2{
    color: hsl(71, 73%, 54%);
    margin-top: 30px;
}
.joinUs p{
    color: hsl(218, 22%, 67%);
}
p{
    font-size: 16px;
}
.big{
    font-size: 45px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.fedclr{
    opacity: 0.5;
    
}
.perMonth{
    display: flex;
    align-items: center;
}
button{
    background-color: hsl(71, 73%, 54%);
    border: 0;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-top: 10px;
}
.btn:hover{
   background-color: hsl(71, 63%, 54%);
}
.lightGrey{
    color: hsl(204, 43%, 93%);
    margin-top: 5px;
}
@media (max-width: 675px){
    .wrapper{
        min-width: 275px;
        width: 375px;
    }
    .row{
        flex-direction: column;
    }
    body{
        height: auto;
    }
}